<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wei.user.dao.RegUserMapper">
    <resultMap id="BaseResultMap" type="com.wei.user.domain.entity.RegUser">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <update id="updateRegUserByUserId">
        update reg_user set password = #{password}, create_time = #{createTime} where id = #{id}
    </update>

    <select id="findPage">
        select * from reg_user
        <where>
            <if test="loginName != null">
                and login_name = #{loginName}
            </if>
        </where>
    </select>

</mapper>